
body {
    background-image: url("image/tiles.jpg");
    background-repeat: repeat;
}

.margin-bottom {
    margin-bottom: 5px;
}

.emptyTextArea {
    background-color: #fef5d5;
}

.introDrawing {
    max-width: 500px;
    width: 100%;
}

.navbar-brand {
    font-size: x-large;
}

.mainContainer {
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.introVideo {
    background-color: white;
    padding: 10px;
    margin-top: 30px;
    border-radius: 10px;
    width: 670px;
}


.translationPreview {
    white-space: pre;
    background-color: #fef5d5;
    padding: 5px;
    border-radius: 10px;
    font-family: Courier;
    overflow-y: auto;
    overflow-x: hidden;

}



.commentInput {
    width: 100%;
}

.translateButton {
    background-color: greenyellow;
    border: solid gray 1px;
    border-radius: 8px;
    padding: 3px;
    margin-top: 5px;
    display: inline-block;
}

.translateButtonSource {
}

.btn-space {
    margin-top: 5px;
    margin-bottom: 5px;
}

.translationTextArea {
    width: 100%;
    height: 100%;
    font-size: 12px;
}

.translationText {
    font-size: 12px;
    white-space: pre-wrap;
}


.validTranslation {
    border-color: green;
    border-width: 3px;
}

.invalidTranslation {
    border-color: red;
    border-width: 3px;
}

.emptyTranslation {
    border-color: lightgrey;
    border-width: 3px;
}

h3 .badge {
    font-size: 14px;
}

.rightToLeft {
    direction: rtl;
}

.languageTile {
    display: inline-block;
    margin: 5px;
    background: #f8f8f8;
    text-align: left;
    width: 200px;
    height: 100px;
    white-space: normal;
    vertical-align: top;
    border-radius: 4px;
    padding: 5px;
    border: 1px solid #ccc;
    line-height: 1.4;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.languageTile:hover {
    background: #e6e6e6;
}

.languageTile .languageName {
    font-weight: bolder;
    font-size: 18px;
}

.languageTile .languageDate {
    color: gray;
}
.languageTile .languagePath {
    color: gray;
}

.newLanguageTile {
    display: inline-block;
    margin: 5px;
    background: #f8f8f8;
    text-align: left;
    width: 200px;
    height: 100px;
    white-space: normal;
    vertical-align: top;
    border-radius: 4px;
    padding: 5px;
    border: 1px dashed #ccc;
    line-height: 1.4;
    cursor: pointer;
}

.pluginTile {
    display: inline-block;
    margin: 5px;
    background: #f8f8f8;
    text-align: left;
    width: 200px;
    height: 120px;
    white-space: normal;
    vertical-align: top;
    border-radius: 4px;
    padding: 5px;
    border: 1px solid #ccc;
    line-height: 1.4;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

}

.pluginName {
    font-weight: bolder;
    font-size: 18px;
}

.newLanguageTile .languageName {
    font-weight: bolder;
    font-size: 18px;
}

.newLanguageTile:hover {
    background: #e6e6e6;
}
