<template name="createButton">
    <h1>Create button</h1>

    {{#if repoNotFound}}
        {{> cantAccessGitHubProject}}
    {{/if}}

    <p>Wouldn't it be great if people could easily translate your github project?</p>

    <p>Here's how to embed a Translate Me button or link on your site:</p>
    <ol>
        <li>Find your project on github</li>
        <li>Navigate to your base language file, the one that contains the default locale that you use during development.</li>
        <li>Copy the github URL to that file and paste below<br>
            For example: <a target="example" href="https://github.com/hkniberg/dingoblat/blob/master/i18n/en.i18n.json">https://github.com/hkniberg/dingoblat/blob/master/i18n/en.i18n.json</a>
        </li>
    </ol>

    <b>GitHub URL to your base language file</b>
    <div>
        <input type="input" class="projectUrl" placeholder="https://github.com/...." size="100">
    </div>

    {{> error "createButton"}}

    {{#if checking}}
        {{> spinner}}
    {{else}}
        <div>
            <button class="btn btn-primary btn-space createButtonButton">Create a button</button>
        </div>
    {{/if}}

    {{#if translationUrl}}
        <h3>Ok, here is your button</h3>
        <div class="translateButton"><a href="{{translationUrl}}" target="translateButton">Translate Me</a></div>
        <p>Yeah it's ugly, but you can easily change the design yourself to match your site </p>

        <h3>And here is the html code to embed this button on your site:</h3>
        <div class="translateButtonSource">
            <textarea cols="100" rows="4">{{buttonSource}}</textarea>
        </div>

        <h3>Or you can send this link to people:</h3>
        <input type="text" size="100" value="{{translationUrl}}">




    {{/if}}



</template>