<template name="languages">
    {{> error "languages"}}

    <h1>Translate {{repo}}</h1>

    {{> loadingStatus}}


    {{#if languageDatas.length}}
        {{#if showForm}}

            Translate from
            {{#if baseLanguageName}}
                {{baseLanguageName}}
            {{else}}
                <select class="fromLanguageCode">
                    {{#each languageDatas}}
                        <option value="{{languageCode}}" {{fromLanguageSelected}}>{{languageName}}</option>
                    {{/each}}
                </select>
            {{/if}}

            to
            <select class="toLanguageCode">
                {{#each toLanguageDatas}}
                    <option value="{{languageCode}}" {{toLanguageSelected}}>{{languageName}}</option>
                {{/each}}
            </select>


            <div><button class="btn btn-primary btn-space createNewTranslationButton" {{createNewTranslationButtonDisabled}}>
                {{#if editingExistingTranslation}}
                    Edit {{toLanguageName}} translation
                {{else}}
                    Start translating
                {{/if}}

            </button></div>
            <div><button class="btn btn-link languageOverviewButton">Back to language overview</button></div>

        {{/if}}


        {{#unless showForm}}

            <p>Click below to create or update a translation</p>
            <div class="newLanguageTile">
                <div class="languageName">New language</div>
                <div class="alert alert-success">Click here to create a new translation</div>
            </div>

            {{#each languageDatas}}
                {{> languageTile languageTileData}}
            {{/each}}
        {{/unless}}

    {{/if}}

</template>