<template name="review">
    {{> error "review"}}




    {{#if loading}}
        <h1>Review translation</h1>
        <div>Loading stuff from github...</div>
        {{> spinner}}
    {{else}}

        {{#if repoNotFound}}
            <h1>Review translation</h1>
            <h2>This project might be private</h2>

            <p>Either {{toOwner}}/{{repo}} doesn't exist, or the project is non-public and you need to sign in.</p>
            <div>{{> gitHubSignInButton}}</div>
        {{/if}}

        {{#if dataSuccessfullyLoaded}}
            <h1>Review translation from {{fromLanguageName}} to {{toLanguageName}}</h1>

            <p>Check that the second and third columns contain roughly the same text.</p>

            <div class="row">
                <div class="col col-xs-4">
                    <h3>Submitted <a href="{{toLanguageFileUrl}}" target="toTranslation">{{toLanguageName}}</a> translation</h3>

                </div>
                <div class="col col-xs-4">
                    <h3>Google translation from {{toLanguageName}} back to {{fromLanguageName}}</h3>
                </div>
                <div class="col col-xs-4">
                    <h3>Original <a href="{{fromLanguageFileUrl}}" target="fromTranslation">{{fromLanguageName}}</a> text</h3>
                </div>
            </div>

            {{#each textKeys}}
                <div class="row">
                    <div class="col col-xs-4">
                        {{#if toLanguageText}}
                            <div class="well well-sm {{borderClass}}" style="margin-bottom: 5px;">
                                <div class="translationText">{{toLanguageText}}</div>
                            </div>
                        {{else}}
                            <div class="missingTranslation"></div>
                        {{/if}}
                    </div>
                    <div class="col col-xs-4">
                        {{#if googleTranslationText}}
                            <div class="well well-sm"><div class="translationText">{{googleTranslationText}}</div></div>
                        {{/if}}
                    </div>
                    <div class="col col-xs-4">
                        <div class="well well-sm">
                            <div class="translationText">{{fromLanguageText}}</div>
                        </div>
                    </div>
                </div>
            {{/each}}

        {{/if}}
    {{/if}}


</template>