<template name="start">
    <h1>Translate Me - crowd translation simplified</h1>

    <div><img src="/image/introdrawing.png" width="500px"></div>

    <div>
        <button class="btn btn-primary btn-lg btn-space translate">{{_ "translateAProject"}}</button>
    </div>
    <div>
        <button class="btn btn-primary btn-lg btn-space getTranslateMeButton">{{_ "getATranslateButton"}}</button>
    </div>

    <a class="btn btn-link" role="button" data-toggle="collapse" href="#details" aria-expanded="false" aria-controls="details">
        Wait. What is this service all about?
    </a>
    <div class="collapse" id="details">
        <div class="well">
            <h3>What is this?</h3>
            <p>
                Lots of people are willing to translate online projects and service for free,
                as long as it's simple to do. For example <a href="AgileManifesto.org">AgileManifesto.org</a> was translated to over 60 languages by volunteers.
            </p>
            <p>
                This tool is designed to make crowd translation as simple and hassle-free as possible.
                All the translator needs to do is:
            </p>
            <ol>
                <li>Pick a github project to translate</li>
                <li>Pick a language to translate it to</li>
                <li>Do the translation directly online, assisted by google translate as a starting point</li>
                <li>With a single click, submit the translation to the project owner as a github pull request</li>
            </ol>

            <p>As github project owner, you can also create a Translate Me button or link and place directly on your site.<br>
                <a href="http://localhost:3000/languages/hkniberg2/dingoblat">For example this link</a>
            </p>

            <h3>What kind of projects can be translated?</h3>
            <p>Anything on github that follows one of our <a href="/plugins">supported language formats</a>.</p>
            <p>If you're not sure what format your project uses, just try translating and you'll find out.</p>
            <p>If your project's format isn't supported, feel free to <a href="https://github.com/hkniberg/translateme/blob/master/plugins.md">help implement it</a>.
            It's pretty simple.</p>
        </div>
    </div>

    <div><a class="btn btn-link" href="https://vimeo.com/254195789" target="video"><h3>See the intro video</h3></a></div>



</template>