<template name="translate">
    <h1>Translate from {{fromLanguageName}} to {{toLanguageName}}</h1>
    {{> error "translate"}}
    {{> loadingStatus owner=owner repo=repo baseLanguagePath=baseLanguagePath languageCodes=languageCodesToLoad}}


    {{#if textKeys}}

        <!--
        useful for debugging sometimes
        <div class="translationPreview">{{translationDoc.fileContent}}</div>
        -->

        <div class="row">
            <div class="col-xs-6">
                <p>OK go ahead and translate each section of text below.</p>
                <p>You can use the google translation column for reference.</p>
            </div>
            {{#if manyTexts}}
                <div class="col-xs-6">
                    <div class="well">
                        <div><button class="btn btn-link downloadButton">Download translation as file</button></div>
                        <div><button class="btn btn-success submitButton">Submit translation</button></div>
                    </div>
                </div>
            {{/if}}
        </div>

        <div class="row">
            <div class="col col-xs-4">
                <h3>{{fromLanguageName}} text</h3>
            </div>
            <div class="col col-xs-4">
                <h3>{{toLanguageName}} translation</h3>
                <div>{{> translationProgress this}}</div>
                <div class="margin-bottom">
                    {{#if hiddenRows}}
                        <span class="text-muted">{{hiddenRows}} rows hidden</span>
                        <button class="btn btn-xs btn-primary showAllRowsButton">Show all rows</button>
                    {{else}}
                        <button class="btn btn-xs btn-primary hideCompletedRowsButton">Hide completed rows</button>
                    {{/if}}
                </div>
            </div>
            <div class="col col-xs-4">
                <h3>Google translation</h3> (if available)
            </div>
        </div>

        {{#each textKeys}}
            <div class="row translationRow" data-key="{{this}}">
                <div class="col col-xs-4">
                    <div class="well well-sm">
                        <div class="translationText">{{fromLanguageText}}</div>
                    </div>
                </div>
                <div class="col col-xs-4">
                    <div class="{{maybeRightToLeft}}">
                    <textarea
                            rows="{{rowCountToUseForTranslatedText}}"
                            class="translationTextArea {{translationTextAreaClass}}"
                            data-key="{{this}}"
                            placeholder="Type your translation here, or leave it blank to use the {{fromLanguageName}} text...">{{toLanguageText}}</textarea>
                    </div>
                </div>
                <div class="col col-xs-4">
                    {{#if googleTranslationText}}
                        <div class="well well-sm">
                            <div class="translationText {{maybeRightToLeft}}">{{googleTranslationText}}</div>
                            {{#unless toLanguageText}}
                                <div>
                                    <button tabindex="-1" class="copyButton btn btn-default btn-sm" data-key="{{this}}">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                        Copy
                                    </button>
                                </div>
                            {{/unless}}
                        </div>
                    {{/if}}
                </div>
            </div>
        {{/each}}

        <div><button class="btn btn-link downloadButton">Download translation as file</button></div>
        <div><button class="btn btn-success btn-lg submitButton">Submit translation</button></div>
    {{/if}}



</template>