<!--
  Data context is:
  - languageData
  - maxTextCount
-->
<template name="languageTile">
    <div class="languageTile" data-languagecode="{{languageData.languageCode}}">

        <div class="languageName">{{languageData.languageName}}</div>
        <div class="languagePath">{{languageData.path}}</div>
        <div class="languageDate">Updated {{formatDateHowLongAgo languageData.modifiedDate}}</div>
        <div class="progress progress-striped active" style="margin-bottom: 5px;">
            <div class="progress-bar progress-bar-{{dangerOrSuccess}}" role="progressbar" data-transitiongoal="{{languageData.textCount}}" aria-valuemax="{{maxTextCount}}"></div>
        </div>
    </div>


</template>