<template name="loadingStatus">
    {{> error "loadingStatus"}}

    {{#if loadingLanguageData}}
        <p>Loading language files from github...</p>
        {{> spinner}}
    {{else}}
        {{#if repoNotFound}}
            <div class="alert alert-warning">
                <h2 style="margin-top: 0px">This project might be private</h2>
                <p>Either the project doesn't exist, or the project is non-public and you need to sign in.</p>
                <div>{{> gitHubSignInButton}}</div>
            </div>
            <div><a href="/selectProjectToTranslate">Select another project</a></div>
        {{else}}
            {{#unless languageDatas.length}}
                <div class="alert alert-danger">
                    <p>Darn! I can't find any recognizable language files in this project.</p>
                </div>
            {{/unless}}
        {{/if}}


    {{/if}}
</template>