<template name="loadingStatus">
    {{> error "loadingStatus"}}

    {{#if loadingLanguageData}}
        <p>Loading language files from github...</p>
        {{> spinner}}
    {{else}}
        {{#if repoNotFound}}
            {{> cantAccessGitHubProject }}
            <div><a href="/selectProjectToTranslate">Select another project</a></div>
        {{else}}
            {{#unless languageDatas.length}}
                <div class="alert alert-danger">
                    <p>Darn! I can't find any recognizable language files in this project.</p>
                </div>
            {{/unless}}
        {{/if}}


    {{/if}}
</template>